﻿                         @model Northwind.Store.UI.Demo1.ViewModels.ProductsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form  method="post" asp-action="Index">
    <input asp-for="Filter" type="text" />
    <button type="submit">Search</button>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table display compact" style="white-space:nowrap;font-size:small;">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Supplier)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Customers with manual server-side paging">
    <ul class="pagination pagination-lg">
        <li class="page-item @(Model.CurrentPage == 1?"disabled":"")">
            <a class="page-link" asp-route-currentpage="@(Model.CurrentPage-1)" asp-route-filter="@Model.Filter" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-route-currentpage="@i" asp-route-filter="@Model.Filter">@i</a>
            </li>
        }

        <li class="page-item @(Model.CurrentPage == Model.TotalPages?"disabled":"")">
            <a class="page-link" asp-route-currentpage="@(Model.CurrentPage+1)" asp-route-filter="@Model.Filter" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>