﻿@model Northwind.Store.Model.Entities.Customer
<div class="modal fade" id="CustomerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Customer Details: @Model.CompanyName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="CompanyName">Company Name:</label>
                        <input type="text" class="form-control" asp-for="CompanyName">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="ContactName">Contact Name:</label>
                        <input type="text" class="form-control" asp-for="ContactName">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="ContactTitle">Contact Title:</label>
                        <input type="text" class="form-control" asp-for="ContactTitle">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="Country">Country:</label>
                        <input type="text" class="form-control" asp-for="Country">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="City">City:</label>
                        <input type="text" class="form-control" asp-for="City">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" asp-for="Address">Address:</label>
                        <textarea class="form-control" asp-for="Address"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#CustomerDetailsModal").modal("show");
</script>