﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<div class="text-center">
    <h1 class="display-4">Customers - Laboratorio #1</h1>
    <table id="tblCustomers" class="table display compact">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Contact</th>
                <th scope="col">Country</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.CustomerList)
            {
                <tr>
                    <th scope="row">@item.CompanyName</th>
                    <td>@item.ContactName</td>
                    <td>@item.Country</td>

                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblCustomers').DataTable();
        });
    </script>
}
