﻿@page "{currentpage?}"
@using System.Web;
@model PlainModel
@{
    ViewData["Title"] = "Plain Table";
}
<div class="text-center">
    <h1 class="display-4">Customers Plain Table - Laboratorio #1</h1>
    <table id="tblCustomers" class="table display compact">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Contact</th>
                <th scope="col">Country</th>
            </tr>
        <tbody>
            @foreach (var item in @Model.CustomerList)
            {
                <tr>
                    <th scope="row">
                        <a href="javascript:ShowCustomer('@Html.Raw(HttpUtility.JavaScriptStringEncode(item.CustomerId))')">@item.CompanyName</a>
                    </th>
                    <td>@item.ContactName</td>
                    <td>@item.Country</td>

                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Customers with manual server-side paging">
        <ul class="pagination pagination-lg">
            <li class="page-item @(Model.CurrentPage == 1?"disabled":"")">
                <a class="page-link" asp-route-currentpage="@(Model.CurrentPage-1)" asp-page="Plain" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i < Math.Ceiling((decimal)Model.ItemsCount / Model.ItemsPerPage) ; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-route-currentpage="@i" asp-page="Plain">@i</a>
                </li>
            }
            
            <li class="page-item @(Model.CurrentPage == Model.TotalPages?"disabled":"")">
                <a class="page-link" asp-route-currentpage="@(Model.CurrentPage+1)" asp-page="Plain" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<span id="dlgHolder"></span>
<script type="text/javascript">
    function ShowCustomer(customerId) {
        fetch(`/Plain?handler=CustomerDetailsDialog&customerId=${customerId}`)
            .then(response => {
                if (response.status === 200) {
                    return response.text();
                } else {
                    throw new Error('Something went wrong on api server!');
                }
            })
            .then(data => {
                $('#dlgHolder').html(data);
                console.debug(data);
            }).catch(error => {
                console.error(error);
            });
    }
</script>